In [19]:
import numpy as np
import pandas as pd
import datetime

In [20]:
data_dir  = '../data/'
coal_dir = data_dir + 'coal/'
natgas_dir = data_dir + 'naturalgas/'

## Import Data

### Variables

In [23]:
# Coal Generation Data
coal_gen_file_loc = coal_dir + 'coal_generation_2016.csv'
data_coal_gen = pd.read_csv(coal_gen_file_loc)

# Natural Gas Data
natgas_gen_file_loc = natgas_dir + 'naturalgas_generation_2016.csv'
data_natgas_gen = pd.read_csv(natgas_gen_file_loc)

# Coal Consumption for Electricity Gen Data
coal_con_elc_file_loc = coal_dir + 'coal_consumption_elc_2016.csv'
data_coal_con_elc = pd.read_csv(coal_con_elc_file_loc)

# Natural Gas Consumption for Electricity Gen Data
natgas_con_elc_file_loc = natgas_dir + 'naturalgas_consumption_elc_2016.csv'
data_natgas_con_elc = pd.read_csv(coal_con_elc_file_loc)

### Keys

In [24]:
# MSN Codes Key
msn_codes_file_loc = data_dir + 'keys/MSN_codes.csv'
msn_codes_key = pd.read_csv(msn_codes_file_loc)

# State FIPS Codes
state_fips_file_loc = data_dir + 'keys/state_FIPS.csv'
state_fips_key = pd.read_csv(state_fips_file_loc)
state_fips_indicators = ['State Abbreviation', 'State Name']

# State NCDC Codes
state_ncdc_file_loc = data_dir + 'keys/state_NCDC_codes.csv'
state_ncdc_key = pd.read_csv(state_ncdc_file_loc)
state_ncdc_key['State Name'] = state_ncdc_key['State Name'].str.upper()

# Merged State Codes Key
state_codes_key = state_ncdc_key.merge(state_fips_key)

# Month Key
month_key = dict(zip(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], range(1,13)))

## Clean Data

In [30]:
def clean_rawdata_gen_df(rawdata, value_label, unit_conversion_factor):
    # Melt month columns
    rawdata = rawdata.melt(id_vars = ['State Name', 'Sector', 'units'], value_vars = rawdata.columns[4:16], var_name='month', value_name=value_label).copy()
    rawdata['month'] = rawdata['month'].apply(lambda x: month_key[x])

    # Convert units
    rawdata[value_label] = rawdata[value_label]*unit_conversion_factor

    # Pivot sector column
    rawdata['Sector'] = rawdata['Sector'].str.strip()
    rawdata = rawdata.groupby(['State Name', 'Sector', 'month']).sum().unstack('Sector').reset_index()

    # Fix column names
    rawdata.columns = ['State Name', 'month', value_label + '_all', value_label + '_elc']
    
    return rawdata

In [33]:
data_coal_gen = clean_rawdata_gen_df(data_coal_gen, 'coal_net_gen', 1000)
data_natgas_gen = clean_rawdata_gen_df(data_natgas_gen, 'coal_net_gen', 1000)

### Coal

In [13]:
# Melt month columns
data_coal_gen = data_coal_gen.melt(id_vars = ['State Name', 'Sector', 'units'], value_vars = data_coal_gen.columns[4:16], var_name='month', value_name='coal_net_gen')
data_coal_gen['month'] = data_coal_gen['month'].apply(lambda x: month_key[x])

# Convert to thousand kwh
data_coal_gen['coal_net_gen'] = data_coal_gen['coal_net_gen']*1000

# Pivot sector column
data_coal_gen['Sector'] = data_coal_gen['Sector'].str.strip()
data_coal_gen = data_coal_gen.groupby(['State Name', 'Sector', 'month']).sum().unstack('Sector').reset_index()

# Fix column names
data_coal_gen.columns = ['State Name', 'month', 'coal_net_gen_all', 'coal_net_gen_elc']

In [14]:
data_coal_gen.head()

  State Name  month  coal_net_gen_all  coal_net_gen_elc
0    Alabama      1         2464000.0         2455000.0
1    Alabama      2         2302000.0         2293000.0
2    Alabama      3         2369000.0         2361000.0
3    Alabama      4         1976000.0         1969000.0
4    Alabama      5         2449000.0         2441000.0

### Natural Gas Generation

In [15]:
# Melt month columns
data_natgas_gen = data_natgas_gen.melt(id_vars = ['State Name', 'Sector', 'units'], value_vars = data_natgas_gen.columns[4:16], var_name='month', value_name='natgas_net_gen')
data_natgas_gen['month'] = data_natgas_gen['month'].apply(lambda x: month_key[x])

# Convert to thousand kwh
data_natgas_gen['natgas_net_gen'] = data_natgas_gen['natgas_net_gen']*1000

# Pivot sector column
data_natgas_gen['Sector'] = data_natgas_gen['Sector'].str.strip()
data_natgas_gen = data_natgas_gen.groupby(['State Name', 'Sector', 'month']).sum().unstack('Sector').reset_index()

# Fix column names
data_natgas_gen.columns = ['State Name', 'month', 'natgas_net_gen_all', 'natgas_net_gen_elc']

In [16]:
data_natgas_gen.head()

  State Name  month  natgas_net_gen_all  natgas_net_gen_elc
0    Alabama      1           4833000.0           4731000.0
1    Alabama      2           4185000.0           4090000.0
2    Alabama      3           4359000.0           4265000.0
3    Alabama      4           3685000.0           3597000.0
4    Alabama      5           4638000.0           4547000.0

In [34]:
data_coal_gen['State Name'] = data_coal_gen['State Name'].str.upper().str.strip()
data_coal_gen.merge(state_codes_key).sort_values(by = 'coal_net_gen_all')#.drop(state_fips_indicators, axis = 1)

,State Name,month,coal_net_gen_all,coal_net_gen_elc,NCDC Code,State Abbreviation,State FIPS
74,CONNECTICUT,3,-3000.0,-3000.0,6,CT,9
75,CONNECTICUT,4,-2000.0,-2000.0,6,CT,9
76,CONNECTICUT,5,-2000.0,-2000.0,6,CT,9
77,CONNECTICUT,6,-2000.0,-2000.0,6,CT,9
81,CONNECTICUT,10,-2000.0,-2000.0,6,CT,9
94,DELAWARE,11,-2000.0,-2000.0,7,DE,10
82,CONNECTICUT,11,-1000.0,-1000.0,6,CT,9
516,VERMONT,1,0.0,0.0,43,VT,50
517,VERMONT,2,0.0,0.0,43,VT,50
518,VERMONT,3,0.0,0.0,43,VT,50
519,VERMONT,4,0.0,0.0,43,VT,50
520,VERMONT,5,0.0,0.0,43,VT,50
522,VERMONT,7,0.0,0.0,43,VT,50
523,VERMONT,8,0.0,0.0,43,VT,50
524,VERMONT,9,0.0,0.0,43,VT,50
527,VERMONT,12,0.0,0.0,43,VT,50
526,VERMONT,11,0.0,0.0,43,VT,50
123,IDAHO,4,0.0,0.0,10,ID,16
328,NEW HAMPSHIRE,5,0.0,0.0,27,NH,33
93,DELAWARE,10,0.0,0.0,7,DE,10
87,DELAWARE,4,0.0,0.0,7,DE,10
86,DELAWARE,3,0.0,0.0,7,DE,10
333,NEW HAMPSHIRE,10,0.0,0.0,27,NH,33
525,VERMONT,10,0.0,0.0,43,VT,50
329,NEW HAMPSHIRE,6,0.0,0.0,27,NH,33
521,VERMONT,6,0.0,0.0,43,VT,50
430,OREGON,11,0.0,0.0,35,OR,41
423,OREGON,4,0.0,0.0,35,OR,41
424,OREGON,5,0.0,0.0,35,OR,41
444,RHODE ISLAND,1,0.0,0.0,37,RI,44
...,...,...,...,...,...,...,...
553,WEST VIRGINIA,2,6356000.0,6341000.0,46,WV,54
283,MISSOURI,8,6381000.0,6378000.0,23,MO,29
139,ILLINOIS,8,6390000.0,6267000.0,11,IL,17
396,OHIO,1,6400000.0,6381000.0,33,OH,39
138,ILLINOIS,7,6413000.0,6298000.0,11,IL,17
180,KENTUCKY,1,6427000.0,6427000.0,15,KY,21
149,INDIANA,6,6588000.0,6582000.0,12,IN,18
404,OHIO,9,6646000.0,6644000.0,33,OH,39
144,INDIANA,1,6691000.0,6687000.0,12,IN,18
186,KENTUCKY,7,6712000.0,6712000.0,15,KY,21
407,OHIO,12,6758000.0,6757000.0,33,OH,39
552,WEST VIRGINIA,1,6841000.0,6823000.0,46,WV,54
187,KENTUCKY,8,6848000.0,6848000.0,15,KY,21
563,WEST VIRGINIA,12,7007000.0,7007000.0,46,WV,54
155,INDIANA,12,7048000.0,7045000.0,12,IN,18
402,OHIO,7,7114000.0,7105000.0,33,OH,39
151,INDIANA,8,7230000.0,7224000.0,12,IN,18
150,INDIANA,7,7261000.0,7256000.0,12,IN,18
559,WEST VIRGINIA,8,7284000.0,7282000.0,46,WV,54
558,WEST VIRGINIA,7,7327000.0,7310000.0,46,WV,54
403,OHIO,8,7706000.0,7697000.0,33,OH,39
492,TEXAS,1,8524000.0,8524000.0,41,TX,48
496,TEXAS,5,8880000.0,8880000.0,41,TX,48
502,TEXAS,11,9214000.0,9214000.0,41,TX,48
501,TEXAS,10,12029000.0,12029000.0,41,TX,48
503,TEXAS,12,12527000.0,12527000.0,41,TX,48
500,TEXAS,9,12746000.0,12746000.0,41,TX,48
497,TEXAS,6,12959000.0,12959000.0,41,TX,48
499,TEXAS,8,13408000.0,13408000.0,41,TX,48
498,TEXAS,7,13906000.0,13906000.0,41,TX,48